header {
    position: relative;
    background-color: black;
    /* height: 75vh; */
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.center-icon {
    margin-right: 7rem;
    margin-left: 7rem;
}

.social-icon {
    font-size: 1.7rem;
    transition: color 155ms ease;
    margin-right: 0.2rem;
}

.projects-area {
    margin-top: 10rem;
}

.projects-icon {
    font-size: 7rem;
    transition: color 155ms ease;
    /* margin-right: 5rem; */
}

.social-icon:hover,
.projects-icon:hover {
    cursor: pointer;
    color: #635b5a !important;
}

@media only screen and (max-width: 530px) {
    .projects-area {
        display: none;
    }
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('/assets/image/stars_background.jpg') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}